.mycart_container{
    height: 100vh;
    gap: 2rem;
    margin: 0 4rem;
}

.mycart_head{
    position: relative;
    top: 4rem;
}

.mycart_price{
    justify-content: space-between;
}

.mycart_total_amount{
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding: 1rem 0;
}

.mycart_inc_dec{
    align-items: center;
    gap: 1rem;
}

.btn_mycart{
    margin: 1rem 0;
    width: 100%;
    gap: 1rem;
    flex-direction: column;
}