.filter_and_Clear{
    justify-content: space-between;
}

.range_input{
    width: 100%;
}
.ranges{
    justify-content: space-between;
}
.product_category{
    flex-direction: column;
}
.product_rating{
    flex-direction: column;
}
.sidebar{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0;
}

.filter_type{
    margin-bottom: 0.5rem;
}

.content{
    gap: 2rem;
}

.products_head{
    position: relative;
    top: 4rem;
}

.container{
    top: 3rem;
}