.auth_container{
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.auth{
    padding: 2rem;
    margin: 0.5rem;
    justify-content: space-between;
    flex-direction: column;
}

.auth_head{
    text-align: center;
}

.auth_input{
    margin: 0.5rem 0;
    width: 100%;
}

.input_wide{
    width: 100%;
}

.auth_submit{
    margin: 1rem 0;
}

.auth_text{
    justify-content: space-between;
    align-items: center;
}

.auth_btn{
    font-size: 0.9rem;
}